* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    background-color: rgba(20, 71, 116, 0.562) !important;
    backdrop-filter: blur(10px);
    z-index: 10px;


}

.navbar-brand .logo-img {
    width: 160px;
    margin-left: 50px !important;

}

.nav-item>.nav-link {
    color: white;
    font-size: 17px;
    font-weight: 600;

}

.btn-search {

    width: 150px;
    font-weight: 600;
}

.btn-search:hover {
    color: #f57738;
    font-weight: 700;
}

/* hero section */
.container-fluid {
    position: relative;
}

.img-hero {
    background: url(img/head-img.webp), linear-gradient(rgba(2, 4, 8, 0.508), rgba(0, 0, 0, 0.229));
    max-width: 100rem;
    height: 900px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-title {
    position: absolute;
    top: 25%;
    left: 27%;
    text-align: center;
    color: white;
    font-weight: 600;
}

.hero-para {
    position: absolute;
    top: 45%;
    left: 27%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
}

.hero-btn {
    position: absolute;
    top: 60%;
    left: 44%;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background: linear-gradient(165deg, #F7925F 30%, #F46D2A 100%);
    border-radius: 7px 7px 7px 7px;
    padding: 15px;
    width: 160px;
    line-height: 1.2em;
}

.hero-btn:hover {
    color: white;
    background-color: rgb(32, 32, 54);
    background: linear-gradient(165deg, rgb(32, 32, 54) 30%, rgb(32, 32, 54) 100%);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}

.hero-destination {
    display: flex;
    justify-content: center;
    gap: 15px;
}


/* about section */
.img2 {
    max-width: 283px;
    rotate: -10deg;
    position: relative;
    bottom: 60px;
    right: 30px;
    float: top;
}

.about-d-flex {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.about-img {
    padding: 60px;
}

.about-img>img {

    border-radius: 10px;


}

.about-content {
    padding: 60px;
}



/* Destination section */

.card {
    max-height: 380px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-img {
    min-height: 380px;
    object-fit: cover;
    opacity: 75%;
    border-radius: 10px;

}

/* score-img section */
#score {
    position: relative;
    padding-top: 80px;
}

.score-img {
    background: url(img/img9.webp), linear-gradient(rgba(0, 0, 0, 0.473), rgba(16, 33, 48, 0.637));
    background-blend-mode: overlay;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    max-width: 100rem;
    min-height: 600px;



}

.score-content {
    text-align: center;
    padding-top: 170px;
}

.svg>.scroe-icon {
    max-height: 120px;
    box-shadow: #F46D2A 0px 2px 4px 0px, #f57738 0px 2px 16px 0px;
    color: white;
    border-radius: 50%;
    border: none;
}

.svg>.scroe-icon:hover {
    box-shadow: white 0px 22px 70px 4px;
    color: #f57738;
}

.col-box {
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(218, 217, 217);

}

/* package section */
#package {
    max-height: auto;
}

.hr-package {
    height: 3px;
    border-radius: 10px;
}


.card {
    min-height: 380px !important;

}

.card:hover {
    transform: scale(1.1);
    transition: all 1.2s;
    z-index: 10px;
}

.card-img-top {
    max-height: 40rem;
    object-fit: cover;
}

.card-packege {
    min-height: 550px !important;

}

.card-icon {
    font-size: 14px;
}

.card-btn-package {
    background: linear-gradient(165deg, #F7925F 30%, #F46D2A 100%) !important;
    width: 170px;
    border: none;
}


/* agency */

#agency {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.icon {

    min-height: 80px;
    max-width: 80px;
    text-align: center;
    border-radius: 15px;

}

.icon:hover {
    rotate: z 20deg;
    transform: scale(1.1);
    transition: all 1.1s;
}

.icon>i {
    font-size: 50px;
}

/* plan section */

.plan-img {
    background: url(img/img16.webp), linear-gradient(rgba(8, 8, 8, 0.608), rgba(19, 24, 34, 0.537));
    max-width:100rem;
    height: 500px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.plan-content{
   padding-top: 100px;
}

.brand-div > img{
   
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid rgb(170, 170, 170);
}
.brand-div{
   
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
   
}
.card-testimonial{
    min-height:28rem !important;
    max-width: 600px;
    
}
.card-test{
    padding-left: 30px;
}


/* testimonials section */

.test-btn{
    padding-left: 325px;
    padding-top: 50px;
}

/* subscribe section */

.subscribe{
    margin-top: 100px;
}
.input-btn{
    background: linear-gradient(165deg, #F7925F 30%, #F46D2A 100%) !important;
    width: 100px;
    border: none;
}
.subscribe-col{
    padding-left: 150px;
}

/* footer */

.logo-ftr{
    max-width: 200px;
}
.ftr-list > li{
    color: white;
    list-style: none;
}