*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar{
    background-color:rgba(20, 71, 116, 0.562)!important;
    backdrop-filter: blur(10px);
    z-index: 10px;
    
    
}
.navbar-brand .logo-img{
 width: 160px;
 margin-left: 50px !important;
 
}

.nav-item > .nav-link{
    color: white;
    font-size: 17px;
    font-weight: 600;
   
}
.btn-search{
    
    width: 150px;
    font-weight: 600;
}
.btn-search:hover{
    color:#f57738;
    font-weight: 700;
}

/* hero section */
.container-fluid{
    position: relative;
}
.img-hero{
    background:url(img/head-img.webp),linear-gradient(rgba(2, 4, 8, 0.508),rgba(0, 0, 0, 0.229));
    width: 100%;
    height: 900px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-title{
    position: absolute;
    top:25%;
    left: 27%;
    text-align: center;
    color: white;
    font-weight: 600;
}
.hero-para{
    position: absolute;
    top:45%;
    left: 27%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.hero-content{
   display: flex;
   flex-wrap: wrap;
}
.hero-btn{
     position: absolute;
    top:60%;
    left: 44%;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background: linear-gradient(165deg, #F7925F 30%,#F46D2A 100%);
    border-radius: 7px 7px 7px 7px;
    padding: 15px;
    width: 160px;
    line-height: 1.2em;
}
.hero-btn:hover{
    color:white;
    background-color: rgb(32, 32, 54);
     background: linear-gradient(165deg, rgb(32, 32, 54) 30%,rgb(32, 32, 54) 100%);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    

}
.hero-destination{
    display: flex;
    justify-content: center;
    gap: 15px;
}


/* about section */
.img2{
    max-width:283px;
    rotate: -10deg;
    position: relative;
    bottom: 60px;
    right: 30px;
    float: top;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
.about-d-flex{
    display: flex;
    justify-content:space-around;
    gap:10px;                                                                                                                      
}
.about-img{
    padding: 60px;
}
.about-img >img{
   
    border-radius: 10px;
    

}
.about-content{
    padding: 60px;
}

.about-avg1{
    
}

/* Destination section */

.card{
   max-height: 380px;
   border: none;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card-img{
   min-height: 380px;
   object-fit: cover;
   opacity: 75%;
    border-radius: 10px;
   
}

/* score-img section */
#score{
    position: relative;
    padding-top: 80px;
}
.score-img{
    background: url(img/img9.webp),linear-gradient(rgba(0, 0, 0, 0.473),rgba(16, 33, 48, 0.637));
    background-blend-mode: overlay;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
   min-height: 600px;
   
    

}
.score-content{
    text-align: center;
    padding-top: 170px;
}
.svg >.scroe-icon{
    max-height: 120px; 
    box-shadow:#F46D2A 0px 2px 4px 0px, #f57738 0px 2px 16px 0px;
    color:white;
    border-radius: 50%;
    border: none;
}
.svg >.scroe-icon:hover{
     box-shadow:white 0px 22px 70px 4px;
     color: #f57738;
}
.col-box{
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(218, 217, 217);
   
}