*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    backdrop-filter: blur(10px);
    z-index: 10px;
    
}
.navbar-brand .logo-img{
 width: 160px;
 margin-left: 50px !important;
 
}

.nav-item > .nav-link{
    color: white;
    font-size: 17px;
    font-weight: 600;
   
}
.btn-search{
    
    width: 150px;
    font-weight: 600;
}
.btn-search:hover{
    color:#f57738;
    font-weight: 700;
}

/* hero section */
.container-fluid{
    position: relative;
}
.img-hero{
    background:url(img/head-img.webp),linear-gradient(rgba(2, 4, 8, 0.508),rgba(0, 0, 0, 0.229));
    width: 100%;
    height: 900px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-title{
    position: absolute;
    top:25%;
    left: 27%;
    text-align: center;
    color: white;
    font-weight: 600;
}
.hero-para{
    position: absolute;
    top:45%;
    left: 27%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.hero-content{
   display: flex;
   flex-wrap: wrap;
}
.hero-btn{
     position: absolute;
    top:60%;
    left: 44%;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background: linear-gradient(165deg, #F7925F 30%,#F46D2A 100%);
    border-radius: 7px 7px 7px 7px;
    padding: 15px;
    width: 160px;
    line-height: 1.2em;
}
.hero-btn:hover{
    color:white;
    background-color: rgb(32, 32, 54);
     background: linear-gradient(165deg, rgb(32, 32, 54) 30%,rgb(32, 32, 54) 100%);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    

}
.hero-destination{
    display: flex;
    justify-content: center;
    gap: 15px;
}


/* about section */
.img2{
    max-width:283px;
    rotate: -10deg;
    position: relative;
    bottom: 60px;
    right: 30px;
    float: top;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
.about-d-flex{
    display: flex;
    justify-content:space-around;
    gap:10px;                                                                                                                      
}
.about-img{
    padding: 60px;
}
.about-img >img{
   
    border-radius: 10px;
    

}
.about-content{
    padding: 60px;
}

.about-avg1{
    
}